* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background: #eeeeee;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
    /* blue colors for links too */
    text-decoration: inherit;
    /* no underline */
}

#header {
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
    height: 80px;
    display: flex;
    align-items: center;
    padding: 10px;
    background: #e2e2e2;
}

#header-img {
    max-width: 55%;
}

#nav-bar {
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
}

#section-email {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

#form input {
    margin: 10px;
}

input {
    border: none;
}

input[type="email"] {
    border: 1px solid lightgray;
    padding: 5px;
    width: 100%;
}

input[type="submit"] {
    padding: 8px;
    background: yellow;
}

#how-it-works {
    display: flex;
    justify-content: center;
}

.feature {
    margin: 30px;
    display: flex;
}

.feature-icon {
    color: darkorange;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    min-width: 100px;
    font-size: rem;
}

.feature-description>header {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 3px;
}

.feature-description>p {
    margin: 3px;
}

.pricing-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.pricing-item {
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
}

.pricing-header {
    font-size: 1rem;
    font-weight: bold;
    background-color: #dddddd;
    padding: 15px;
    text-align: center;
}

.pricing-price {
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}
.pricing-description {
    text-align: center;
    margin: 5px;
}
.pricing-select {
    background-color: #f1c40f;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    align-self: center;
}

#footer {
    background-color: #dddddd;
    padding: 20px;
}
.footer-copyright {
    display: flex;
    justify-content: flex-end;
    color: grey
}
.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.footer-link {
    margin: 10px;
}

@media screen and (max-width: 600px) {
    #header {
        flex-direction: column;
        align-items: center;
        height: 120px;
    }
    #header-img {
        width: 400px;
        max-width: 100%;
    }
    #nav-bar {
        width: auto;
        text-align: center;
        flex-direction: column;
        margin: 0;
        margin-top: 6px;
    }
    #section-email {
        margin-top: 150px;
    }
    .feature-icon {
        display: none;
    }
}